/* Big tablet to 1200px */
@media only screen and (max-width: 1200px) {
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    .row{
        padding: 0 2%;
    }
}


/* Small tablets to bigt tables: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
    body{font-size: 18px;}
    section{padding: 60px 0;}
    /* .steps-box{margin-top: 10px;}
    .steps-box:last-child{margin-top: 10px;}
    .works-stop{margin-bottom: 40px;}
    .works-stop:last-of-type{margin-bottom: 60px;} */
    .app-screen{width: 50%;}
    .icon-small{
        width: 17px;
        margin-right: 5px;
    }
    .city-feature{font-size: 90%;}
    .plan-box{
        margin-left: 0;
        width: 100%;
    }
    .plan-price{font-size: 250%;}
    .contact-form{
        width: 79%;
    }
}


/* Small phones to small tables: from 480px to 767px */
@media only screen and (max-width: 767px) {
    body{font-size: 16px;}
    section{padding: 30px 0px;}
    .row,
    .hero-text-box{padding: 0 4%;}
    .col{
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav{display: none;}
    .app-screen{width: 40%;}
    /* .steps-box:first-child{text-align: center;} */
    /* .works-step div{
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    } */
}


/* small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
    section{padding: 25px 0;}
    .contact-form{width: 100%;}
}